.main_font {
    font-family: Calibri;
}

.head {
    font-family: Calibri;
    font-size:large;
    font-weight: bold;
    color:rgb(52, 112, 176)
}

.list {
    font-family: Calibri;
    font-size:medium;
    color:rgb(0, 0, 255)
}

body{
    background-color: rgb(255, 125, 0);
}

table{
    border: 1px solid #000000;
    text-align: center;
}

thead,
tfoot {
    background-color: #ffffff;
    color: #000000;
}

.fitpicture{
    width: 250px;
}